body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#website-snapshot {
    position: relative; /* Establishes a positioning context */
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    width: 100%; /* Full width of the container */
    height: auto; /* Height adjusted to maintain aspect ratio of content */
    overflow: hidden; /* Ensures no overflow of content */
}

#website-snapshot img {
    max-width: 100%; /* Maximum width is 100% of its parent */
    max-height: 100vh; /* Maximum height is 100% of the viewport height */
    width: auto; /* Width is auto to maintain aspect ratio */
    height: auto; /* Height is auto to maintain aspect ratio */
    position: relative; /* Positioned relative to its normal position */
    z-index: 1; /* Ensures image is below the button */
}

#visit-link {
    position: absolute;
    top: 60%; /* 60% down from the top of the #website-snapshot */
    left: 80%; /* 80% from the left of the #website-snapshot */
    transform: translate(-50%, -50%); /* Adjust to align properly */
    width: 200px; /* or whatever width you prefer */
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    z-index: 2; /* Ensure it's above the image */
}

}
